<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/classapp?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="pojos/Classchange.hbm.xml"/>
    <mapping resource="pojos/Lecturer.hbm.xml"/>
    <mapping resource="pojos/Subjectvisebatch.hbm.xml"/>
    <mapping resource="pojos/Studentlogin.hbm.xml"/>
    <mapping resource="pojos/Chatlist.hbm.xml"/>
    <mapping resource="pojos/Normalclassshedule.hbm.xml"/>
    <mapping resource="pojos/Login.hbm.xml"/>
    <mapping resource="pojos/Chat.hbm.xml"/>
    <mapping resource="pojos/Examvivashedule.hbm.xml"/>
    <mapping resource="pojos/StudentHasSubjectvisebatch.hbm.xml"/>
    <mapping resource="pojos/Notificationlist.hbm.xml"/>
    <mapping resource="pojos/Subject.hbm.xml"/>
    <mapping resource="pojos/Specialnotifications.hbm.xml"/>
    <mapping resource="pojos/Lecturehall.hbm.xml"/>
    <mapping resource="pojos/Student.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
